<div class="container" style="margin-left:-205px; margin-top:0px;">
    <img src="../images/innsiaHeaderSmall.png" style="float:left; margin: 0 20px 20px 0; width:1685px;" />
</div>
    <h1 style="color:black; margin-top:20px;">Velkommen til Innsia</h1>

    <input type="image" src="../images/fakeInnsiaCroppedPageWhite.png" onclick="location.href='@Url.Action("Login", "Account")'" style="margin-top:20px; width:1000px;" />
